
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div>
            <i class="fas fa-table me-1"></i>
            @Title
        </div>
        <div>
            <ButtonLink Label="Create new" Url="@(Page + "/Create")" Style="btn btn-success" />
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="height: 550px; overflow-y: scroll;">
            <table id="datatablesSimple" class="table">
             <thead>
                <tr>
                    @foreach(var item in Headers)
                    {
                        <th> 
                            @item
                        </th>
                    }
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
             </thead>
            <tbody>
                @foreach(var row in Rows)
                {
                    <tr>
                        @foreach(var item in row.Datas)
                        {
                            @if (item.IsButton)
                            {
                                <td>
                                    <ButtonLink Label="@item.Label" Url="@(Page + "/" + item.Label + "?id=" + row.ID)" Icon="@item.IconName" />
                                </td>
                            }   
                            else
                            {
                                <td>
                                    @item.Label
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
          </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    public List<string> Headers { get; set; } = new List<string>();

    [Parameter]
    public List<TableRow<TRowData>> Rows { get; set; } = new List<TableRow<TRowData>>();
}
