@model OpenCRM.Core.Web.Pages._BreadCrumbPartialModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in this.Model.Links)
        {
            @if (item.IsActive)
            {
                <li class="breadcrumb-item active" aria-current="page">
                    <a class="breadcrumb-item" asp-area="@item.Area" asp-page="@item.Page" data-toggle="tooltip" data-placement="top">
                        @item.Name
                    </a>
                </li>
            }
            else
            {
                <li class="breadcrumb-item">
                    <a class="breadcrumb-item" asp-area="@item.Area" asp-page="@item.Page" data-toggle="tooltip" data-placement="top">
                        @item.Name
                    </a>
                </li>
            }
        }
    </ol>
</nav>
